@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    !! Current giving Development mode error, page not rendering !!
*@
@model IEnumerable<KiCData.Models.TicketComp>
@{
    ViewData["Title"] = "Ticket Comps";
}

<div class="view-body">
    <h1 class="main-title">Ticket Comps</h1>
    <hr />
    <p><b>KiC Events</b></p>
    <p>Click on the event name to view more details</p>
    <hr />
    <p><b>@ViewBag.ErrorMessage</b></p>
    <a asp-area="" asp-controller="Owner" asp-action="CompAdd">Add Ticket Comps</a>
    @if (Model.Count() == 0 || Model == null)
    {
        <tr>
            <td colspan="5">No ticket comps available</td>
        </tr>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Attendee.BadgeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket.Event.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiscountCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompAmount)
                    </th>
                    <th>
                        Venue @Html.DisplayNameFor(model => model.AuthorizingUser)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-area="" asp-controller="Admin" asp-action="AdminEventDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Ticket.Attendee.BadgeName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Event.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorizingUser)

                        </td>
                        <td>
                            <a asp-area="" asp-controller="Owner" asp-action="CompEdit" asp-route-id="@item.Id">Edit</a>
                            <a asp-area="" asp-controller="Owner" asp-action="CompDelete" asp-route-id="@item.Id">Delete</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>


