@model KiCData.Models.Event
@{
    ViewData["Title"] = Model.Name + " Details";
}

<h1>@Model.Name Details</h1>
<br />
<a asp-area="" asp-controller="Admin" asp-action="AdminEventCreate">New Event</a>
<div class="row">
    <div class="col-6">
        <h3>Event Details</h3>
        <hr />
        <p><b>Event Name:</b> @Model.Name</p>
        <p><b>Start Date:</b> @Model.StartDate</p>
        <p><b>End Date:</b> @Model.EndDate</p>
        <p><b>Topic:</b> @Model.Topic</p>
        <p><b>Description:</b> @Model.Description</p>
        <p><b>Venue:</b> @Model.Venue.Name</p>
        <p><b>Address:</b> @Model.Venue.Address</p>
        <p><b>City:</b> @Model.Venue.City</p>
        <p><b>State:</b> @Model.Venue.State</p>

    </div>
    <div class="col-6">
        <h3>Event Tickets</h3>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model.Tickets)
                {
                    <tr>                   
                        <td>@ticket.Type</td>
                        <td>@ticket.StartDate</td>
                        <td>@ticket.EndDate</td>
                        <td>@ticket.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
