@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Vendor Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KiCData.Models.Vendor

<div class="view-body">
    <h1 class="main-title">Vendor Details</h1>
    <hr />
    <p><b>@Model.PublicName</b></p>
    <hr />
    <p>Vendor Type: @Model.MerchType</p>
    <p>Vendor Price Low: @Model.PriceMin</p>
    <p>Vendor Price High: @Model.PriceMax</p>
    <p>Price Average: @Model.PriceAvg</p>
    <p>Last Attended: @Model.LastAttended</p>
    <p>Vendor Description: @Model.Bio</p>
    @if (Model.Members != null)
    {
        <p>Vendor Members:</p>
        <ul>
            @foreach (var member in Model.Members)
            {
                <li>@member.FetName</li>
            }
        </ul>
    })

    <hr />
    <a asp-area="" asp-controller="Admin" asp-action="VendorUpdate" asp-route-id="@Model.Id">Edit</a> |
    <a asp-area="" asp-controller="Admin" asp-action="VendorDelete" asp-route-id="@Model.Id">Delete</a>