@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<KiCData.Models.PendingVolunteer>

    <div class="view-body">
    <h1 class="main-title">Volunteer Approval</h1>
    <hr />
    <p><b>Volunteer Requests</b></p>
    <p>Click on a volunteer to review and approve their request</p>

    <hr />
    @if(Model.Count() == 0)
    {
        <p>No volunteer requests at this time </p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Volunteer.Member.FetName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Event.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PreferredPositions)
                    </th>
                    <th>
                        Venue @Html.DisplayNameFor(model => model.PreferredShift)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Volunteer.Member.FetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreferredPositions)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreferredShift)

                        </td>
                        <td>
                            <a asp-area="" asp-controller="Admin" asp-action="AssignVolunteer" asp-route-id="@item.Id">Approve and Assign</a> | <a asp-area="" asp-controller="Admin" asp-action="RejectVolunteer" asp-route-id="@item.Id">Reject</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }