@model UserViewModel

<div class="view-body">
    <h2 class="main-title">Login</h2>
    <hr />
    <div class="container row">
        @if (ViewBag.Error is not null)
        {
            <div id="ValidationErrorMessage">
                <div class="container row">
                    <div class="col-sm-4 text-center">
                        <br />
                        <br />
                        <br />
                        <p class="text-danger">@ViewBag.Error.ToString()</p>
                    </div>
                </div>
            </div>
        }
        <div class="form-fillable">
            @using (Html.BeginForm())
            {
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", @type = "password" }) 
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="Submit" value="Submit" formmethod="post" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

