@page
@model KiCData.Models.WebModels.Member.RegisterViewModel

<div class="view-body">
    <div class="row">
        <h1>Register for Membership</h1>

        <p>Registration will create a KIC Events LLC membership and begin the process of membership at Club425, where
            the party is hosted. </p>
    </div>
    <div class="row">
        <div class="form-fillable col-4">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.LegalName)
                    @Html.TextBoxFor(model => model.LegalName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LegalName, "", new { @Class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress)
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FetName)
                    <span class="form-details">*Optional</span>
                    @Html.TextBoxFor(model => model.FetName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName)
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @Class = "text-danger" })
                </div>
                @if (ViewBag.ErrorMessage is not null)
                {
                    <div>
                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @Class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password2)
                    @Html.TextBoxFor(model => model.Password2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password2, "", new { @Class = "text-danger" })
                </div>
                <button type="submit" class="flat-btn btn">Submit</button>
            }
        </div>
    </div>
</div>