@page
@model KiCData.Models.Presentation 

<div class="view-body">
    <div class="row">
        <h1>Presenter Sign Up</h1>
        <p>If you would like to share a class or presentation with KIC, please fill out the form below and we will get in touch.</p>
    </div>
    <div class="row">
        <div class="form-fillable">
            @using (Html.BeginForm())
            {
                <div class="col-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Presenter.Member.FetName)
                        @Html.TextBoxFor(model => model.Presenter.Member.FetName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Presenter.Member.FetName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Presenter.PublicName)
                        @Html.TextBoxFor(model => model.Presenter.PublicName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Presenter.PublicName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Presenter.Member.EmailAddress)
                        @Html.TextBoxFor(model => model.Presenter.Member.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Presenter.Member.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Presenter.Bio)
                        @Html.TextAreaFor(model => model.Presenter.Bio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Presenter.Bio, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type)
                        @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="Submit" value="Send" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (ViewBag.Error is not null)
{
    <div id="ValidationErrorModal" class="modal">
        <div class="modal-content">
            <p>There was a validation error, please try again.</p>
        </div>
    </div>
}