@page
@model KiCData.Models.Volunteer

<div class="view-body">
    <div class="row">
        <h1>Volunteer Info</h1>
        <p>Please fill out the form below with your details to be added to the mailing list for volunteer shifts.</p>
        <p>Volunteers are given complimentary access to the event in exchange for working a short shift during the event, as well as assisting with setup and teardown. Shift positions include dungeon monitors, bartenders, door greeters, as well as service tops for corporal, fire, and electric. </p>
    </div>
    <div class="row">
        <div class="form-fillable">
            @using (Html.BeginForm())
            {
                <div class="col-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.FirstName)
                        @Html.TextBoxFor(model => model.Member.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.LastName)
                        @Html.TextBoxFor(model => model.Member.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.FetName)
                        @Html.TextBoxFor(model => model.Member.FetName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.FetName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.ClubId)
                        @Html.TextBoxFor(model => model.Member.ClubId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.ClubId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.EmailAddress)
                        @Html.TextBoxFor(model => model.Member.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.PhoneNumber)
                        @Html.TextBoxFor(model => model.Member.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Details)
                        @Html.TextAreaFor(model => model.Details, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="Submit" value="Send" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if(ViewBag.Error is not null)
{
    <div id="ValidationErrorModal" class="modal">
        <div class="modal-content">
            <p>There was a validation error, please try again.</p>
        </div>
    </div>
}




<script src="@Url.Content("~/wwwroot/js/chosen/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/wwwroot/js/chosen/chosen.css")" rel="stylesheet" type="text/css" />

<script> $(".chzn-select").chosen(); </script>