@page
@model KiCData.Models.Volunteer

<div class="view-body">
    <div class="row">
        <h1>Volunteer Info</h1>
        @*<p>Please fill out the form below with your details to be added to the mailing list for volunteer shifts.</p>*@
        <p>Do you desire to meet and interact with like minded people while helping give back to your local kink community?</p>

        <p>Have you ever thought of volunteering at events though not sure what you would be required to do?</p>

        <p>Below is a list of volunteer positions with a brief description that we have available at KIC Events:</p>
        <ul>
            <li>Door person/greeter - Hand out waivers to attendees to fill out and review for completion.</li>
            <li>"Bartender" - Alcohol is not allowed at KIC events though we desire to have people give out water, soda, juices, and snacks.</li>
            <li>Dungeon Monitors - Actively walk the main play space, outside patio, and sexy time area to help ensure attendees are following the rules of the event and engaging in safe consensual play.</li>
            <li>Service Top (fire, electric, or corporal) - Effectively, safely, and consensually discuss, talk about, and/or perform scenes for attendees who are wanting to explore and experience what is being offered.</li>
        </ul>
        <p>If you're interested in any of the above opportunities to volunteer, send an email to <a href="mailto:volunteers@kicevents.com">volunteers@kicevents.com</a>. In your email please include what area(s) you would be interesting in volunteering for, and if applicable, your level of knowledge and experience.</p>
    </div>
    @*<div class="row">
        <div class="form-fillable">
            @using (Html.BeginForm())
            {
                <div class="col-8">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.FirstName)
                        @Html.TextBoxFor(model => model.Member.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.LastName)
                        @Html.TextBoxFor(model => model.Member.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.FetName)
                        @Html.TextBoxFor(model => model.Member.FetName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.FetName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.ClubId)
                        @Html.TextBoxFor(model => model.Member.ClubId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.ClubId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.EmailAddress)
                        @Html.TextBoxFor(model => model.Member.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Member.PhoneNumber)
                        @Html.TextBoxFor(model => model.Member.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Member.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Details)
                        @Html.TextAreaFor(model => model.Details, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="Submit" value="Send" />
                    </div>
                </div>
            }
        </div>
    </div>*@
</div>

@if(ViewBag.Error is not null)
{
    <div id="ValidationErrorModal" class="modal">
        <div class="modal-content">
            <p>There was a validation error, please try again.</p>
        </div>
    </div>
}




<script src="@Url.Content("~/wwwroot/js/chosen/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/wwwroot/js/chosen/chosen.css")" rel="stylesheet" type="text/css" />

<script> $(".chzn-select").chosen(); </script>