@model KiCData.Models.WebModels.RegistrationViewModel

<div class="view-body">
    <div class="container row">
        <h2 class="main-title">Register for CURE</h2>
    </div>
    <div class="container row">
        <h4 class="main-title">Ticket Types</h4>
        <p><b>There are several types of tickets available.</b></p>
        <div class="col-sm-4 button-box">
            <img src="~/css/images/ticket-1.png" alt="Ticket types" class="responsive" />
        </div>
        <div class="col-sm-4 button-box">
            <img src="~/css/images/ticket-2.png" alt="Ticket types" class="responsive" />
        </div>
        <div class="col-sm-4 button-box">
            <img src="~/css/images/ticket-3.png" alt="Ticket types" class="responsive" />
        </div>
    </div>
    @if(ViewBag.SilverCount >= 0 || ViewBag.GoldCount >= 0)
    {
        <hr />
        <p>Gold tickets: @ViewBag.GoldCount.ToString()</p>
        <p>Silver tickets: @ViewBag.SilverCount.ToString()</p>
    }
    <div class="container row">        
        <div class="form-fillable">
            @using (Html.BeginForm())
            {
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName)
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName)
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FetName)
                        @Html.TextBoxFor(model => model.FetName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FetName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfBirth)
                        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BadgeName)
                        @Html.TextBoxFor(model => model.BadgeName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BadgeName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(rvm => rvm.TicketType)

                    </div>
                </div>
            }
        </div>        
    </div>
</div>